<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <title>Media Junkie</title>
  </head>

  <body>
    <div class="container-fluid">
    <center>m
      <img src="/mj.img" alt="Media Junkie Png">
    <div class="jumbotron">
    <h1>Media Junkie</h1>    
    <p>A Movie/Show recommendation app</p>       
    </center>

    <!--Handlebars-->
      {{{body}}}

  </body>
</html> 

